body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    color: rgb(31, 29, 29);
}

.logo {
    width: auto;
    height: auto;
}

.site-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.site-nav a {
    color: rgb(24, 22, 22);
    text-decoration: none;
}

.main-container {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.sidebar {
    flex-basis: 25%;
    background-color: #ddd;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.sidebar ul{
    list-style: none;
}

.main-content {
    flex-basis: 75%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.main-content h1{
    text-align: center;
}

.site-footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-column {
    flex-basis: 33.33%;
    text-align: center;
}
.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
input[type=checkbox].hidden{
    display: none;
}

@media (max-width: 767px) {
    ::-webkit-scrollbar{
        width: 0px;
    }
    .site-header {
        flex-direction: column;
        text-align: center;
    }
    .menu-icon{
        display:block;
        color: rgb(49, 76, 67);
        position: relative;
        top: 0;
        left: 120px;

    }
    .site-nav{
        position: absolute;
    }
    .menu{
        background-color: rgba(151, 149, 146, 0.852);
        border-radius: 20px;
        width:150px;
        position: relative;
        left: 100px;
    }
    .site-nav ul {
        display: none;
        flex-direction: column;
        gap: 10px;
    }
    .menu a{
        font-size: 18px;
        color: white;
        font-weight: 500;
    }

    .main-container {
        flex-direction: column;
    }

    .sidebar, .main-content {
        flex-basis: 100%;
    }
    .sidebar{
        text-align: center;
    }

    .site-footer {
        flex-direction: column;
        text-align: center;
    }
    #menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }
    input[type=checkbox].hidden{
        display: none;
    }

    .footer-column {
        flex-basis: 100%;
    }
}
